@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Cinzel+Decorative&family=Forum&family=Fugaz+One&family=Geologica:wght@100;200;300;400;500;600;700;800;900&family=Koulen&family=Monoton&display=swap');

* {
  font-size: 32px;
}

body {
  font-family: 'Geologica', sans-serif;
  padding: 0 100px 100px 100px;
}


h1.futuristic {
  background: url(sq-cr.gif);
  text-shadow: -0.075em 0.06em 0.025em turquoise;
  outline: 20px dotted red;
  border-radius: 10px;
  font-family: 'Monoton', cursive;
  font-size: 2em;
  text-align: center;
  padding: 10px;
  animation: crazy-outline 1s ease-in 1s infinite reverse both;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

#phrase {
  font-family: 'Monoton', cursive;
  font-size: 3em;
  background-color: black;
  padding: 100px;
  color: white;
}

nav {
  font-family: initial;
  padding: initial;
}

ul {
  border: 10px inset grey;
  text-shadow: 0.2em 0.2em 0.2em black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: rgb(158, 209, 180);
  background-color: darkgreen;
}

.active {
  background-color: #04AA6D;
}


.anim-1 {
  animation: crazy 750ms linear 0s infinite alternate forwards;
  scale: 1.2;
}

#canvas {
  display: block;
  position: absolute;
  z-index: 1;
}

@keyframes crazy {
  0%   {
    color: red;
  }
  25% {
    color: violet;
  }
  50%  {
    color: yellow;
  }
  75% {
    color: green;
  }
  100% {
    color: blue;
  }
}

@keyframes crazy-outline {
  0%   {
    outline: 20px dotted red;
  }
  25% {
    outline: 20px dotted violet;
  }
  50%  {
    outline: 20px dotted yellow;
  
  }
  75% {
    outline: 20px dotted green;

  }
  100% {
    outline: 20px dotted blue;

  }
} 












